__pycache__
credentials.json
token.json
test.py
quickstart.py
.env
credentialsService.json
TODO
send.py
token(metadata_readonly).json
translatorDiscord.txt
values.txt
test
.idea
*.jpg
.log
googlesTOKEN.py
words_decoder.py
bad_words_b64
bad_words.txt
outdated